[Unit]
Description=Collect sensor data
After=network-online.target

[Service]
Type=simple
#ExecStart=/usr/bin/collect-metrics.sh basic
ExecStart=/usr/bin/collect-metrics.sh conditional

[Install]
WantedBy=multi-user.target
